---
import Layout from '../layouts/Layout.astro';

---

<Layout>

	<section class="bg-sky-950 h-screen d-flex justify-content-center align-items-center">
		<div class="container">
			<div class="row justify-content-center align-items-center flex-row">
	
				<div class="col-12 col-lg-6">
					<a href="minicargadoreskleber">
						<article class="img-L cursor-pointer border rounded-4 p-3">
							<p class="text-white h3 font-monospace">
								Minicargadores Kleber
							</p>
							<img class="img-fluid rounded" src="../img/minicargadores.jpeg" alt="Minicargadores Kleber">
						</article>
					</a>
				</div>
	
				<div class="col-12 col-lg-6 mt-4 mt-lg-0">
					<a href="transporteskleber">
						<article class="img-L cursor-pointer border rounded-4 p-3">
							<p class="text-white h3 font-monospace">
								Transpórtes Kleber
							</p>
							<img class="img-fluid rounded" src="../img/transportes.jpeg" alt="Transportes Kleber">
						</article>
					</a>
				</div>
			</div>
		</div>
	</section>

</Layout>

<style is:global>

	.img-L img{
		width: 100%;
		height: auto;
		max-height: 482px;
		object-fit: contain;
		object-position: top;
	}

	@media (min-width: 1280px) {
		.img-L img {
			object-fit: cover;
		}
	}

	.bg-sky-950 {
		background-color: rgb(8 47 73 / var(--tw-bg-opacity, 1));
	}

	.h-screen {
		height: 100vh;
	}

	.cursor-pointer {
		cursor: pointer;
	}

	.screenHome {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}


	.Contacto {
		background: linear-gradient(90deg, rgba(255,255,255,.9) 0%, rgba(255,255,255,.9) 100%), url('../img/bg_MinicargadoresKleber_fondoTexto.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		color: white;
	}

	.text-shadow {
		text-shadow: 1px 1px 3px #000000;
	}

	.h-auto-mh {
		height: auto;
		min-height: 500px;
	}

	.text-balance {
		text-wrap: balance;
	}

	.bg-yellow {
        background-color: #fee502;
    }
	.font-yellow {
		color: #fee502;
	}

	.bg-first {
		background: #0c0c0c;
	}
	.font-first {
		color: #0c0c0c;
	}

    .bg-second {
        background-color: #231f20;
    }
    .font-second {
        color: #231f20;
    }
</style>