---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/shared/Navbar.astro';
import Carrusel from '../components/shared/Carrusel.astro';
import BgImageSection from '../components/shared/BgImageSection.astro';
import Empresa from '../components/Empresa.astro';
import Servicios from '../components/Servicios.astro';
import Accesorios from '../components/Accesorios.astro';
import Contacto from '../components/Contacto.astro';

---

<Layout>


	<section>
		<Navbar />
	</section>

	<section>
		<Carrusel />
	</section>

	<section class="h-auto-mh border bg-transparent">

		<article class="absolute w-full">
			<BgImageSection />
			<Empresa />
		</article>

		<hr>

		<article>
			<BgImageSection />
			<Servicios />
		</article>

		<hr>

		<article>
			<BgImageSection />
			<Accesorios />
		</article>

	</section>
	
	<section class="Contacto h-auto-mh border">
		<Contacto />
	</section>

</Layout>

<style is:global>

	.Contacto {
		background: linear-gradient(90deg, rgba(255,255,255,.9) 0%, rgba(255,255,255,.9) 100%), url('../img/bg_MinicargadoresKleber_fondoTexto.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		color: white;
	}

	.text-shadow {
		text-shadow: 1px 1px 3px #000000;
	}

	.h-auto-mh {
		height: auto;
		min-height: 500px;
	}

	.text-balance {
		text-wrap: balance;
	}

	.bg-yellow {
        background-color: #fee502;
    }
	.font-yellow {
		color: #fee502;
	}

	.bg-first {
		background: #0c0c0c;
	}
	.font-first {
		color: #0c0c0c;
	}

    .bg-second {
        background-color: #231f20;
    }
    .font-second {
        color: #231f20;
    }
</style>