---
---

<section id="Accesorios">
    <div class="container py-lg-5">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="fw-bold fs-1 font-yellow text-shadow mb-4">
                    Accesorios
                </h2>
                <p class="fs-4">
                    Aguilón, martillo y horquilla en perfectas condiciones
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-6 col-lg-4">
                <img class="w-100 pb-3" src="../img/bg_MinicargadoresKleber_Accesorio01.jpg" alt="Imagen de Accesorio">
            </div>
            <div class="col-6 col-lg-4">
                <img class="w-100 pb-3" src="../img/bg_MinicargadoresKleber_Accesorio02.jpg" alt="Imagen de Accesorio">
            </div>
            <div class="col-6 col-lg-4">
                <img class="w-100 pb-3" src="../img/bg_MinicargadoresKleber_Accesorio03.jpg" alt="Imagen de Accesorio">
            </div>
            <div class="col-6 col-lg-4">
                <img class="w-100 pb-3" src="../img/bg_MinicargadoresKleber_Accesorio04.jpg" alt="Imagen de Accesorio">
            </div>
            <div class="col-6 col-lg-4">
                <img class="w-100 pb-3" src="../img/bg_MinicargadoresKleber_Accesorio05.jpg" alt="Imagen de Accesorio">
            </div>
            <div class="col-6 col-lg-4">
                <img class="w-100 pb-3" src="../img/bg_MinicargadoresKleber_Accesorio06.jpg" alt="Imagen de Accesorio">
            </div>
        </div>

    </div>
</section>