---
---

<section id="Accesorios">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="fw-bold fs-1 font-yellow text-shadow mb-4">
                    Accesorios
                </h2>
                <p class="fs-4">
                    Aguilón, martillo y horquilla en perfectas condiciones
                </p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-4">
                <img class="w-100 pb-3" src="./src/assets/img/imagen01.jpg" alt="Imagen de Accesorio">
            </div>
            <div class="col-4">
                <img class="w-100 pb-3" src="./src/assets/img/imagen01_3.jpg" alt="Imagen de Accesorio">
            </div>
            <div class="col-4">
                <img class="w-100 pb-3" src="./src/assets/img/imagen01_4.jpg" alt="Imagen de Accesorio">
            </div>
            <div class="col-4">
                <img class="w-100 pb-3" src="./src/assets/img/imagen02.jpg" alt="Imagen de Accesorio">
            </div>
            <div class="col-4">
                <img class="w-100 pb-3" src="./src/assets/img/imagen03.jpg" alt="Imagen de Accesorio">
            </div>
            <div class="col-4">
                <img class="w-100 pb-3" src="./src/assets/img/imagen04.jpg" alt="Imagen de Accesorio">
            </div>
        </div>

    </div>
</section>