---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<section id="Empresa">
    <div class="container py-lg-5">
        <div class="row py-lg-5">
            <div class="col-12 col-lg-8">
                <h3 class="fw-bold fs-1 font-yellow text-shadow mb-4 text-center text-lg-start">
                    Nuestra Empresa
                    <svg  xmlns="http://www.w3.org/2000/svg"  class="text-dark text-shadow" width="70"  height="70"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-tir"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M5 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M7 18h8m4 0h2v-6a5 7 0 0 0 -5 -7h-1l1.5 7h4.5" />
                        <path d="M12 18v-13h3" /><path d="M3 17l0 -5l9 0" />
                    </svg>
                </h3>
                <slot name="first-text" />
            </div>
            <div class="col-12 col-lg-4 d-flex align-items-center justify-content-lg-end">
                <img src="../img/bg_TransporteKleber_Logo.png" alt="Logo de Minicargadores Kleber">
            </div>
        </div>
    </div>
</section>

<hr>


<section>
    <div class="container py-lg-5 pt-3">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-12 text-center">
                <h1 class="fw-bold fs-1 font-yellow text-shadow mb-4">
                    { title }
                </h1>
            </div>
            <div class="col-12 col-lg-12">
                <slot name="second-text" />
            </div>
            <slot name="imagenes-cols" />
        </div>
    </div>
</section>