---
---

<section id="Servicios">
    <div class="container py-5">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="fw-bold fs-1 font-yellow text-shadow mb-4">
                    Servicios
                </h2>
            </div>
            <div class="col-12">
                <p class="fs-4 text-center">
                    Arrendamos minicargadores y accesorios para tu proyecto, <br class="d-none d-lg-block">
                    nos adaptamos a tus necesidades.
                </p>
                <p class="fs-4 text-center">
                    Comunicate con nosotros, consulta disponibilidad <br class="d-none d-lg-block">
                    de nuestros accesorios y minicargadores
                </p>
                <p class="fs-3 text-center fw-bold pt-4">
                    CUENTA CON NOSOTROS PARA AYUDARTE
                </p>
            </div>
        </div>
    </div>
</section>